<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <title>标签</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
    <!-- 引入编辑插件css样式 -->
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css">
</head>

<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<!--前端框架依赖jquery,通过cdn的方式引入-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="../../static/lib/editormd/editormd.min.js"></script>
<!--2. 引入 前端框架semantic-ui -->
<script src="../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>
<!--/*/</th:block>/*/-->

<body>

<!--导航栏  inverted黑色圆角  attached去掉圆角 m-padding-tb-border自定义样式引入-->
<nav th:replace="admin/_fragments :: menu(2)" class="ui inverted attached segment m-padded-tb-border m-shadow-small">
    <!-- 放到大容器中，使标题不要太靠边缘部分-->
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <!-- 颜色teal header类型 item标记之后每个条目-->
            <h2 class="ui teal header item">后台管理</h2>
            <!-- class和h2标签中的item相同 光标在a前面Ctrl+D复制  移动端的时候隐藏-->
            <a href="#" class="active m-item item m-mobile-hide"><i class="home icon"></i>博客</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <!--右侧显示登录用户和头像 这里用right menu的方式 相当于子菜单-->
            <div class="right menu m-mobile-hide">
                <div class="ui dropdown item ">
                    <!--头像 姓名放到一个text里-->
                    <div class="ui text">
                        <img class="ui avatar image" src="../../static/images/22.png" th:src="@{/images/22.png}"></img>
                        Moxi
                    </div>
                    <!--下拉图标-->
                    <i class="dropdown icon"></i>
                    <!--下拉图标中这里只做了注销-->
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!--移动端图标按钮  m-mobile-show电脑端时候隐藏  menu toggle类似id-->
    <a href="#" class="ui black icon button m-top-right m-mobile-show  menu toggle">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--二级导航-->
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="ui right menu">
            <a href="#" th:href="@{/api/v1/pri/admin/tag/addTag/input}" class="ui item active">新增</a>
            <a href="#" th:href="@{/api/v1/pri/admin/tag/pageList}" class="ui teal item ">列表</a>
        </div>
    </div>
</div>


<!--content中间部分-->
<div class="m-container-small m-padded-tb-massive">
    <div class="ui container">
        <!--也是一个表单-->
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">not blank</p>
        </div>

        <form action="#" method="post"
              th:action="*{id}==null ? @{/api/v1/pri/admin/tag/addTag} : @{/api/v1/pri/admin/tag/updateTag/{id}(id=*{id})}"
              class="ui form">
            <input type="hidden" th:value="${tag}!=null ? ${tag.getId()} : null "/>
            <!--required 回车可以提交-->
            <div class="required field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">名称</label>
                    <input type="text" name="name" placeholder="标签名称" th:value="${tag}!=null ? ${tag.getName()}:'' ">
                </div>
            </div>

            <!--6. 返回的按钮-->
            <!--单独设置right不生效 right aligned 结合-->
            <div class="ui right aligned container">
                <!--不写type的话默认是提交表单submit  onclick事件-->
                <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                <!--写上submit后会回车提交-->
                <button class="ui teal submit button">提交</button>
            </div>
        </form>
    </div>


</div>

<br>
<br>


<!--vertical圆角变直角  m-padded-tb-massive自定义边角的padding-->
<footer th:replace="admin/_fragments :: footer"
        class="ui inverted vertical segment m-padded-tb-massive m-container-footer">
    <!-- 和顶部对齐，所以放入container  center aligned里面的内容居中-->
    <div class="ui center aligned container ">
        <!-- grid分列 白色显示 divided竖线划分 -->
        <div class="ui inverted divided stackable grid ">
            <!--3337分-->
            <div class="three wide column">
                <div class="ui link inverted list">
                    <!-- rounded圆角二维码   宽度110px em变化太小了    -->
                    <div class="item">
                        <img src="../../static/images/chat.png" th:src="@{/images/chat.png}" class="ui rounded image"
                             style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced m-text-lined m-opacity-min">
                    最新博客</h4>
                <!--                   里面是一个列表-->
                <div class="ui link inverted list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced m-text-lined m-opacity-min">
                    联系我</h4>
                <div class="ui link inverted list m-text-spaced">
                    <a href="#" class="item">Email:123123@qq.com</a>
                    <a href="#" class="item">QQ:12313123</a>

                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced m-text-lined m-opacity-min">
                    Moxi</h4>
                <div class="ui link inverted list ">
                    <a href="#" class="item m-opacity-min">人生获取不是我们期盼的那场宴会，但既然来了，就跟着起舞吧</a>
                </div>
            </div>
        </div>
        <!--            分割线-->
        <div class="ui inverted section divider m-text-thin">
            <br>
            <br>
            <p class="m-opacity-min ">巴拉巴拉巴拉巴拉巴拉巴拉</p>
        </div>
    </div>
</footer>


</body>
<script>
    //这里是编辑器插件的设置
    var contentEditor;

    $(function () {
        contentEditor = editormd("md-content", {
            width: "100%",
            height: 640,
            syncScrolling: "single",
            path: "../../static/lib/editormd/lib/"
        });
    });

    //菜单的不同终端适配
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide')
    });

    //注销
    $('.ui.dropdown').dropdown();

    //消息提示关闭
    $('.message.close').on(
        'click', function () {
            $(this).closest('.message').transition('fade');
        }
    );

</script>

</html>