<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>搜索结果</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<th:block th:replace="_fragments :: script">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</th:block>

<body>

<!--导航栏  inverted黑色圆角  attached去掉圆角 m-padding-tb-border自定义样式引入-->
<nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-border m-shadow-small">
    <!-- 放到大容器中，使标题不要太靠边缘部分-->
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <!-- 颜色teal header类型 item标记之后每个条目-->
            <h2 class="ui teal header item">Blog</h2>
            <!-- class和h2标签中的item相同 光标在a前面Ctrl+D复制  移动端的时候隐藏-->
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="active m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
            <!--右侧搜索框 item和上面一样-->
            <div class="right item">
                <div class="ui icon input ">
                    <input type="text" placeholder="Search..." style="margin-right: 4em">
                    <!-- link使得搜索图标变成小手可以点击-->
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <!--移动端图标按钮  m-mobile-show电脑端时候隐藏  menu toggle类似id-->
    <a href="#" class="ui black icon button m-top-right m-mobile-show  menu toggle">
        <i class="sidebar icon"></i>
    </a>
</nav>


<!--content中间部分-->
<div class="m-container-small m-padded-tb-massive">
    <!--1. 列表头部分-->
    <div class="ui top attached segment">
        <div class="ui middle aligned two column grid">
            <div class="column">
                <h3 class="ui teal header">搜索结果</h3>
            </div>
            <div class="column right aligned">
                <!--h2自带换行行为，因此需要自定义-->
                共<h2 class="ui orange header m-inline-block m-text-thin " th:text="${blogPage.totalNum}">14</h2>个
            </div>
        </div>
    </div>
    <!--2. 结果列表部分-->
    <div class="eleven wide column">
        <!-- 整体左侧中间content  https://unsplash.it/200/400?image=0-->
        <div class="ui attached segment">
            <!-- 内层的外框应该不显示的，vertical上下边缘合并了-->
            <div class="ui vertical m-padded segment" th:each="blog : ${blogPage.items}">
                <div class="ui middle aligned stackable mobile reversed  grid">
                    <!-- 左侧介绍-->
                    <div class="eleven wide column">
                        <!-- 介绍的标题部分-->
                        <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.blogId})}" target="_blank"
                                                 th:text="${blog.blogTitle}">你真的理解什么是财富自由吗?</a></h3>
                        <p class="m-text" th:text="|${blog.description}......|">你眼中的财富自由是什么?
                            我眼中的财富自由是首先要满足自己的日常生活需求和家里的开销，其次要有一定的剩余资金供自己投资理财，能够利用这些资金再挣得一部分钱财，这样有了多重进钱途径才能实现财富自由，才能想买什么就买什
                            …
                        </p>
                        <div class="ui grid ">
                            <div class="eleven wide column">
                                <!-- horizontal设置水平的-->
                                <div class="ui horizontal mini link list">
                                    <!-- no1 头像-->
                                    <div class="item ">
                                        <img src="../static/images/3.png" th:src="@{${blog.user.avatar}}"
                                             class="ui avatar image"
                                             style="width:30px;height: 30px">
                                        <div class="content"><a herf="#" class="header"
                                                                th:text="${blog.user.nickName}">Moxi</a></div>
                                    </div>
                                    <!-- no3 日期-->
                                    <div class="item ">
                                        <i class="calendar icon"></i><span
                                            th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2022/10/13</span>
                                    </div>
                                    <!-- no4 小眼睛-->
                                    <div class="item">
                                        <i class="eye icon"></i><span th:text="${blog.views}">2200</span>
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <!-- label -->
                                <a href="#" target="_blank" class="ui m-padded-mini teal basic label"
                                   th:text="${blog.type.name}">认知升级</a>
                            </div>
                        </div>
                    </div>
                    <!-- 右侧图片-->
                    <div class="five wide column">
                        <!-- _blank打开新页面  -->
                        <a href="#" target="_blank" th:href="@{/blog/{id}(id=${blog.blogId})}">
                            <img src="https://picsum.photos/id/16/800/450" th:src="@{${blog.firstPicture}}"
                                 alt="" class="ui rounded image">
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <!-- 整体左侧bottom-->
        <div class="ui bottom attached segment" th:if="${blogPage.totalPage}>1">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <!--basic 按钮里面不填充颜色  mini按钮小一点-->
                    <a href="#" th:href="@{/search1(query=${query},currentPage = ${blogPage.currentPage}-1)}" th:unless="${blogPage.currentPage==1}"
                       class=a href"ui teal mini basic button">上一页</a>
                </div>
                <div class="column right aligned">
                    <a href="#" class="ui teal mini basic button" th:href="@{/search1(query=${query},currentPage = ${blogPage.currentPage}+1)}"
                       th:unless="${blogPage.isMore==0}">下一页</a>
                </div>
            </div>
        </div>

    </div>

</div>

<br>
<br>


<!--vertical圆角变直角  m-padded-tb-massive自定义边角的padding-->
<footer class="ui inverted vertical segment m-padded-tb-massive m-container-footer">
    <!-- 和顶部对齐，所以放入container  center aligned里面的内容居中-->
    <div class="ui center aligned container ">
        <!-- grid分列 白色显示 divided竖线划分 -->
        <div class="ui inverted divided stackable grid ">
            <!--3337分-->
            <div class="three wide column">
                <div class="ui link inverted list">
                    <!-- rounded圆角二维码   宽度110px em变化太小了    -->
                    <div class="item">
                        <img src="../images/chat.png" class="ui rounded image"
                             style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced m-text-lined m-opacity-min">
                    最新博客</h4>
                <!--                   里面是一个列表-->
                <div class="ui link inverted list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced m-text-lined m-opacity-min">
                    联系我</h4>
                <div class="ui link inverted list m-text-spaced">
                    <a href="#" class="item">Email:123123@qq.com</a>
                    <a href="#" class="item">QQ:12313123</a>

                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced m-text-lined m-opacity-min">
                    Moxi</h4>
                <div class="ui link inverted list ">
                    <a href="#" class="item m-opacity-min">人生获取不是我们期盼的那场宴会，但既然来了，就跟着起舞吧</a>
                </div>
            </div>
        </div>
        <!--            分割线-->
        <div class="ui inverted section divider m-text-thin">
            <br>
            <br>
            <p class="m-opacity-min ">巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉</p>
        </div>
    </div>
</footer>


</body>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide')
    });

</script>

</html>